@model Pesticides.Models.PesticidesInfo

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>تعديل</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PesticidesInfoPk)

        @*<div class="form-group">
            @Html.LabelFor(model => model.fkPesticideType, "fkPesticideType", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkPesticideType", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fkPesticideType, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.fkPesticideType, "نوع المبيد", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkPesticideType", null, htmlAttributes: new { @class = "form-control", id = "pesticideTypeList" })
                @Html.ValidationMessageFor(model => model.fkPesticideType, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.fkActiveIngredient, "fkActiveIngredient", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkActiveIngredient", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fkActiveIngredient, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.fkActiveIngredient, "المادة الفعّالة", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkActiveIngredient", null, htmlAttributes: new { @class = "form-control", id = "activeIngList" })
                @Html.ValidationMessageFor(model => model.fkActiveIngredient, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fkFormulation, "التركيبة", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkFormulation", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fkFormulation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fkToxicityFish, "درجة السّمية على الأسماك", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkToxicityFish", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fkToxicityFish, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fkToxicityBees, "درجة السّمية على النحل", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkToxicityBees", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fkToxicityBees, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fkToxicityBirds, "درجة السّمية على الطيور", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkToxicityBirds", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fkToxicityBirds, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fkClassWHO, "درجة السّمية WHO ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("fkClassWHO", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.DropDownListFor(model => model.fkClassWHO , null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fkClassWHO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModeOfAction,"طريقة عمل المبيد", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ModeOfAction, 10, 100, new { @class = "form-control", @style = "max-width:500px !important" })
                @*@Html.EditorFor(model => model.ModeOfAction, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.ModeOfAction, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.fkCrop, "fkCrop", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkCrop", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fkCrop, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fkPest, "fkPest", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkPest", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fkPest, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.fkCrop, "المحصول", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkCrop", null, htmlAttributes: new { @class = "form-control", id = "cropList" })
                @Html.ValidationMessageFor(model => model.fkCrop, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fkPest, "الآفة", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkPest", null, htmlAttributes: new { @class = "form-control", id = "pestList" })
                @Html.ValidationMessageFor(model => model.fkPest, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RatePerLiters, "نسبة الإستعمال غ أو ملل / 100 ليتر ماء", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RatePerLiters, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RatePerLiters, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RatePerHectar, "نسبة الإستعمال غ أو ملل / هكتار", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RatePerHectar, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RatePerHectar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PreharvestInterval, "فترة الأمان(الأيام )", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PreharvestInterval, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PreharvestInterval, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModeOfUse, "طريقة إستعمال المبيد", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.ModeOfUse, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextAreaFor(model => model.ModeOfUse, 10, 100, new { @class = "form-control", @style = "max-width:500px !important" })
                @Html.ValidationMessageFor(model => model.ModeOfUse, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="حفظ" class="btn btn-warning" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("اللائحة", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>

    $(function () {
        $("#pesticideTypeList").chosen({ width: "30%" });
        $("#activeIngList").chosen({ width: "30%" });
        $("#cropList").chosen({ width: "30%" });
        $("#pestList").chosen({ width: "30%" });
    })
</script>
}
